---
export interface Props {
  title: string;
  description: string;
  imageSrc: string;
  imageAlt: string;
  reverse?: boolean;
  background?: string;
}

const { title, description, imageSrc, imageAlt, reverse = false, background = "#FFFFFF" } = Astro.props;
---

<div class={`flex flex-col ${reverse ? 'md:flex-row-reverse' : 'md:flex-row'} justify-between items-center gap-10 px-12 py-12`} style={`background-color: ${background};`}>
  <div class="flex-1 flex items-center">
    <div>
      <h2 class="text-3xl font-bold text-gray-900 mb-4">{title}</h2>
      <p class="text-lg text-gray-600">{description}</p>
    </div>
  </div>
  <div class="flex-1">
    <img src={imageSrc} alt={imageAlt} class="rounded-xl shadow-lg w-[500px]" />
  </div>
</div>
